<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true">
	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
	<testsuites>
		<testsuite name="Ranvis\RobotsTxt">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="memory_limit" value="32M"/>
		<!-- some amount is required to load YAML testcases file -->
	</php>
</phpunit>
